div(class="radio-buttons")
    i(class="radio-buttons__button radio-buttons__button_checked") radio_button_checked
    label(class="radio-buttons__label radio-buttons__label_checked") Мужчина
    i(class="radio-buttons__button") radio_button_unchecked
    label(class="radio-buttons__label") Женщина