$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);

$purple: linear-gradient(180deg, #bc9cff, 0%, #8ba4f9 100%);
$green: linear-gradient(100deg, #6fcf97 0% #66d2ea 100%);