.checkbox-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 258px;
    .checkbox-dropdown__name {
        margin: 0;
        text-transform: uppercase;
        color: $dark-shade-100;
        font-size: 11.8px;
        font-weight: bold;
        letter-spacing: 0.02rem;       
    }
    .checkbox-dropdown__icon {
        font-family: 'Material Icons';
        margin: 0;
        font-size: 24px;
        color: $dark-shade-75;
    }
}

.checkbox-list {
    .checkbox-list__item {
        display: flex;
        flex-direction: row;
        .checkbox-list__checkbox {
            width: 15px;
            height: 15px;
            border: 1px solid $dark-shade-25;
        }
        .checkbox-list__label {

        }
    }
}