div(class="checkbox-list")
    p(class="checkbox-list__name") checkbox buttons
    div(class="checkbox-list__item")
        p(class="checkbox-list__button")
        p(class="checkbox-list__text") Можно курить
    div(class="checkbox-list__item")
        p(class="checkbox-list__button")
        p(class="checkbox-list__text") Можно с питомцами
    div(class="checkbox-list__item")
        p(class="checkbox-list__button")
        p(class="checkbox-list__text") Можно пригласить гостей (до 10 человек)
    