div(class="checkbox-dropdown")
    p(class="checkbox-dropdown__name") expandable checkbox list
    p(class="checkbox-dropdown__icon") keyboard_arrow_up
div(class="checkbox-list")
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox")
        p(class="checkbox-list__label") Завтрак
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox") check
        p(class="checkbox-list__label") Письменный стол
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox") check
        p(class="checkbox-list__label") Стул для кормления
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox") check
        p(class="checkbox-list__label") Кроватка
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox") 
        p(class="checkbox-list__label") Телевизор
    div(class="checkbox-list__item")
        p(class="checkbox-list__checkbox")
        p(class="checkbox-list__label") Шампунь