div(class="checkbox-list-dropdown")
    p(class="checkbox-list-dropdown__name") expandable checkbox list
    p(class="checkbox-list-dropdown__icon") keyboard_arrow_up
div(class="checkbox-list")
    div(class="checkbox-list__item")
        p(class="checkbox-list__button")
        p(class="checkbox-list__text") Завтрак
    div(class="checkbox-list__item")
        p(class="checkbox-list__button") check
        p(class="checkbox-list__text") Письменный стол
    div(class="checkbox-list__item")
        p(class="checkbox-list__button") check
        p(class="checkbox-list__text") Стул для кормления
    div(class="checkbox-list__item")
        p(class="checkbox-list__button") check
        p(class="checkbox-list__text") Кроватка
    div(class="checkbox-list__item")
        p(class="checkbox-list__button") 
        p(class="checkbox-list__text") Телевизор
    div(class="checkbox-list__item")
        p(class="checkbox-list__button")
        p(class="checkbox-list__text") Шампунь