div(class="checkbox-list")
    div(class="checkbox-list__item")
        div(class="checkbox-list__checkbox-wrapper")
            div(class="checkbox-list__checkbox")
        p(class="checkbox-list__label") Можно курить
    div(class="checkbox-list__item")
        div(class="checkbox-list__checkbox-wrapper checkbox-list__checkbox-wrapper_checked")
            div(class="checkbox-list__checkbox")
                p(class="checkbox-list__checkbox-check") check
        p(class="checkbox-list__label") Можно с питомцами
    div(class="checkbox-list__item")
        div(class="checkbox-list__checkbox-wrapper checkbox-list__checkbox-wrapper_checked")
            div(class="checkbox-list__checkbox")
                p(class="checkbox-list__checkbox-check") check
        p(class="checkbox-list__label") Можно пригласить гостей (до 10 человек)