div(class="checkbox-list")
    p(class="checkbox-list__name") expandable checkbox list
    p(class="checkbox-list__icon") keyboard_arrow_up
div(class="checkbox-list-list")
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked")
        p(class="checkbox-list-list_item__text") Завтрак
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked") check
        p(class="checkbox-list-list_item__text") Письменный стол
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked") check
        p(class="checkbox-list-list_item__text") Стул для кормления
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked") check
        p(class="checkbox-list-list_item__text") Кроватка
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked") 
        p(class="checkbox-list-list_item__text") Телевизор
    div(class="checkbox-list-list_item")
        p(class="checkbox-list-list_item__checked")
        p(class="checkbox-list-list_item__text") Шампунь