
@mixin placeholder($color){
    .text-field__input::placeholder,
    .text-field__input::-webkit-input-placeholder{
        color: $color;
        font-family:'Montserrat', serif;
        font-size: 14px;
    }
    .text-field__input:-ms-input-placeholder,
    .text-field__input::-ms-input-placeholder {
        color: $color; 
        font-family: 'Montserrat', serif;
        font-size: 14px;
    }
}

.text-field {
    width: 100%;
    .text-field__input {
        border-radius: 4px;
        height: 2.85em;
        width: 92%;
        padding-left: 1.15em;
        font-size: 14px;
    }
    @include placeholder($dark-shade-25);
    .text-field__input--default {
        border: 1px solid $dark-shade-25;
    }
    .text-field__input--focus-hover{
        border: 1px solid $dark-shade-75;
    }
}


