%logo-shared{
    border-radius: 50%;
    display: flex;
    flex-direction: row;
}  

.logo {
    @extend %logo-shared;
    height: 42px;
    width: 42px;
    border: 3px solid $dark-shade-25;
    .logo__left-wing {
        background-image: url("data:image/svg+xml;" + 
        "charset=UTF-8,%3csvg width='15' height='15'" +
        " fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath" +
        " d='M12.999 14.471a1.416 1.416 0 01-1.412-1.412c0-5.435-4.447-" +
        "9.882-9.882-9.882A1.416 1.416 0 01.293 1.765C.293.99.928.354" +
        " 1.705.354c7.023 0 12.706 5.682 12.706 12.705 0 .777-.636 1.412" +
        "-1.412 1.412z' fill='%231F2041' fill-opacity='.25'/%3e%3c/svg%3e");
        height: 14px;
        width: 14px;
        margin-top: 15px;
        margin-left: 8px;
        }
    .logo__right-wing {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.707 1.765c0 .777-.636 1.412-1.412 1.412a9.851 9.851 0 00-8.118 4.27A14.448 14.448 0 00.766 4.696 12.588 12.588 0 0110.295.354c.777 0 1.412.635 1.412 1.411z' fill='%231F2041' fill-opacity='.25'/%3e%3c/svg%3e");
        height: 7px;
        width: 11px;
        margin-top: 15px;
    }
}

.logo-color{
    @extend %logo-shared;
    height: 42px;
    width: 42px;
    border: 3px solid $purple;
    .logo__left-wing-color{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 12.059a1.18 1.18 0 01-1.176-1.177c0-4.53-3.706-8.235-8.235-8.235A1.18 1.18 0 01.412 1.47C.412.823.942.294 1.59.294a10.582 10.582 0 0110.588 10.588A1.18 1.18 0 0111 12.06z' fill='url(%23paint0_linear)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear' x1='6.294' y1='.294' x2='6.294' y2='12.059' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23BC9CFF'/%3e%3cstop offset='1' stop-color='%238BA4F9'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        height: 14px;
        width: 14px;
        margin-top: 15px;
        margin-left: 8px;
    }
    .logo__right-wing-color{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.588 1.47a1.18 1.18 0 01-1.176 1.177 8.21 8.21 0 00-6.765 3.559A12.04 12.04 0 00.471 3.912 10.49 10.49 0 018.41.294c.648 0 1.177.53 1.177 1.176z' fill='url(%23paint0_linear)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear' x1='5.03' y1='.294' x2='5.03' y2='6.206' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%236FCF97'/%3e%3cstop offset='1' stop-color='%2366D2EA'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        height: 7px;
        width: 11px;
        margin-top: 15px;
    }    
}