// import different fonts, colors, icons
@import 'components/other/colors';
@import 'components/other/fonts/montserrat';
@import 'components/other/fonts/material-design';

// import templates for components
@import './components/templates/descriptions';

// import components
@import 'components/logo/logo';
@import 'components/text_fields/text-field';
@import 'components/dropdowns/dropdown';
@import 'components/checkboxes/checkbox';


body {
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top: 1.85em;
    margin-left: 1.35em;
}

.container {
    //background-color: yellow;
    margin: 3rem 5rem;
    display: flex;
    flex-direction: row;
    .column {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 0 1rem; 
        width: 45%;
        //background-color: rgba(25, 25, 25, 0.5);
        .field-position {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 0 1.25rem;
            padding-top: 0.9rem;
            padding-bottom: 0.1rem;
        }
        .field-position_between-middle {
            padding-top: 2.5rem;
        }
        .field-position_between-large {
            padding-top: 5.6rem;
        }
        .field-position_few-items {
            flex-direction: row;
            justify-content: space-between;
            .field-position__item {
                display: flex;
                flex-direction: column;
            }
        }
    }
}