@import 'components/other/colors';
@import 'components/other/fonts/montserrat';
@import 'components/other/fonts/material-design';

@import 'components/logo/logo';
@import 'components/text_fields/text-field';
@import 'components/dropdowns/dropdown';


body {
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top: 1.85em;
    margin-left: 1.35em;
}


.container {
    //background-color: yellow;
    margin: 3rem 5rem;
    display: flex;
    flex-direction: row;
    .column {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 0 1rem; 
        width: 45%;
        //background-color: rgba(25, 25, 25, 0.5);
        .text-fields {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            padding: 0 1.25rem;
            .text-fields_item{
                box-sizing: border-box;
                margin-bottom: 0.15rem;                
            }
        }
        .dropdown-position {
            box-sizing: border-box;            
            width: 100%;
            padding: 0 1.25rem;
        }
        .mask-text-field-position {
            box-sizing: border-box;            
            width: 100%;
            margin-top: 0.25rem;
            padding: 0 1.25rem;
        }
        .date-dropdowns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            padding: 0 1.25rem;
            margin-top: 1.25rem;
            .date-dropdown-position {
                width: 47%;
            }
        }
        .filter-date-position {
            box-sizing: border-box;            
            width: 100%;
            margin-top: 1.5rem;
            padding: 0 1.25rem;
        }
        .subscription-text-field-position {
            box-sizing: border-box;            
            width: 100%;
            margin-top: 1.4rem;
            padding: 0 1.25rem;
        }
        .dropdown--filed-position {
            box-sizing: border-box;            
            width: 88%;
            margin-top: 5rem;
            padding: 0 1.25rem;
            padding-right: 2rem;
        }

        .dropdown--expanded-position {
            box-sizing: border-box;            
            width: 88%;
            margin-top: 0.15rem;
            padding: 0 1.25rem;
            padding-right: 2rem;
        }

    }    
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
    .name {
        font-family: 'Montserrat', serif;
        font-size: 11.5px;
        font-weight: bold;
        letter-spacing: 0.03rem;
        color: $dark-shade-100;
        margin-top: 1.2rem;
        margin-bottom: 0;
    }
    .modificator {
        font-family: 'Montserrat', serif;
        font-size: 12px;
        font-weight: bold;
        color: $dark-shade-50;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}