doctype html
html
    body
        include components/logo/logo.pug
        div(class="container")
            div(class="column-one")
                div(class="text-fields")
                    div(class="text-fields_item")
                        div(class="description")
                            p(class="name") Text field
                            p(class="modificator") default
                        include components/text_field/text-field.pug
                    div(class="text-fields_item")
                        div(class="description")
                            p(class="name") Text field
                            p(class="modificator") hover / focus
                        include components/text_field/text-field-focus_hover.pug
                div(class="dropdown-position")
                    div(class="description")
                        p(class="name") dropdown
                        p(class="modificator") default
                    include components/dropdown/dropdown.pug
                div(class="mask-text-fields-position")
                    div(class="description")
                        p(class="name") masked text field
                        p(class="modificator") default
                    include components/text_field/mask_text_field/mask_text_field.pug
                div(class="date-dropdowns")
                    div(class="date-dropdown-position")
                        div(class="description")
                            p(class="name") date dropdown
                        include components/dropdown/date_dropdown/date_dropdown.pug
                    div(class="date-dropdown-position")
                        div(class="description")
                            p(class="name") date dropdown
                        include components/dropdown/date_dropdown/date_dropdown--filled.pug
                div(class="filter-date-position")
                    div(class="description")
                        p(class="name") filter date dropdown
                    include components/dropdown/filter_date_dropdown/filter_date_dropdown.pug
                div(class="subscription-text-field-position")
                    div(class="description")
                        p(class="name") subscription text field
                    include components/text_field/subscription_text_field/subscription_text_field.pug

