//- This file combine components pug files and make positions for each block
doctype html
html
    body
        include components/logo/logo.pug
        div(class="container")
            div(class="column")
                div(class="field-position")
                    div(class="description")
                        h1(class="description__name") text field
                        h2(class="description__modificator") default
                    include components/text_fields/text-field.pug
                div(class="field-position")
                    div(class="description")
                        h1(class="description__name") text field
                        h2(class="description__modificator") hover / focus
                    include components/text_fields/text-field--focus-hover.pug
                div(class="field-position")
                    div(class="description")
                        h1(class="description__name") dropdown 
                        h2(class="description__modificator") default
                    include components/dropdowns/dropdown.pug
                div(class="field-position")
                    div(class="description")
                        h1(class="description__name") masked text field 
                        h2(class="description__modificator") default
                    include components/text_fields/mask_text_field.pug
                div(class="field-position field-position_between-middle  field-position_few-items")
                    div(class="field-position__item")
                        div(class="description")
                            h1(class="description__name") date dropdown
                        include components/dropdowns/date_dropdown_field.pug
                    div(class="field-position__item")     
                        div(class="description")
                            h1(class="description__name") date dropdown
                        include components/dropdowns/date_dropdown_field--filled.pug
                div(class="field-position field-position_between-middle")
                    div(class="description")
                        h1(class="description__name") filter date dropdown
                    include components/dropdowns/filter_date_dropdown_field.pug
                div(class="field-position field-position_between-middle")
                    div(class="description")
                        h1(class="description__name") subscription text field
                    include components/text_fields/subscription_text_field.pug
                div(class="field-position field-position_between-large")
                    div(class="description description_middle")
                        h1(class="description__name") dropdown
                        h2(class="description__modificator") default
                    include components/dropdowns/dropdown_field--filled.pug
                div(class="field-position")
                    div(class="description description_middle")
                        h1(class="description__name") dropdown
                        h2(class="description__modificator") expanded
                    include components/dropdowns/dropdown_field--expanded.pug
                div(class="field-position field-position_between-middle-plus")
                    include components/checkboxes/checkbox-list.pug
                div(class="field-position field-position_between-middle")
                    include components/checkboxes/checkbox-list--expanded.pug
            div(class="column")
                div(class="field-position")
                    div(class="description")
                        h1(class="description__name") checkbox buttons
                    include components/checkboxes/checkbox-buttons.pug
                div(class="field-position field-position_between-middle-plus")
                    div(class="description")
                        h1(class="description__name") radio buttons
                    include components/radio-buttons/radio-buttons.pug
            div(class="column")