include ./dropdown_field--filled.pug

div(class="dropdown-list")
    div(class="dropdown-list__item")
        label(class="dropdown-list__label") спальни
        div(class="dropdown-list__add-form")
            i(class="dropdown-list__icon") -
            p(class="dropdown-list__number") 2
            i(class="dropdown-list__icon") +
    div(class="dropdown-list__item")
        label(class="dropdown-list__label") кровати
        div(class="dropdown-list__add-form")
            i(class="dropdown-list__icon") -
            p(class="dropdown-list__number") 2
            i(class="dropdown-list__icon") +
    div(class="dropdown-list__item")
            label(class="dropdown-list__label") ванные комнаты
            div(class="dropdown-list__add-form")
                i(class="dropdown-list__icon") -
                p(class="dropdown-list__number") 0
                i(class="dropdown-list__icon") +
