include ./dropdown--filled.pug  
div(class="dropdown--options")
    div(class="dropdown--options_item")
        p(class="dropdown--options_item__text") cпальни
        div(class="dropdown--options_item_add-form")
            div(class="dropdown--options_item_add-form__icon-minus")
                p -
            p(class="dropdown--options_item_add-form__number") 2
            div(class="dropdown--options_item_add-form__icon-plus")
                p +
    div(class="dropdown--options_item")
        p(class="dropdown--options_item__text") кровати
        div(class="dropdown--options_item_add-form")
            div(class="dropdown--options_item_add-form__icon-minus")
                p -
            p(class="dropdown--options_item_add-form__number") 2
            div(class="dropdown--options_item_add-form__icon-plus")
                p +
    div(class="dropdown--options_item")
        p(class="dropdown--options_item__text") ванные комнаты
        div(class="dropdown--options_item_add-form")
            div(class="dropdown--options_item_add-form__icon-minus")
                p -
            p(class="dropdown--options_item_add-form__number") 0
            div(class="dropdown--options_item_add-form__icon-plus")
                p +   
    


