@import '../components/other/colors';
@import '../components/other/fonts/fonts';

@import '../components/logo/logo.scss';
@import '../components/text_field/text-field.scss';

.logo{
    margin-top: 1.85em;
    margin-left: 1.35em;
}


.container {
    margin-top: 3em;
    margin-left: 8.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .column-one {
        display: flex;
        flex-direction: column;
        width: 25%;
        .text-fields {
            display: flex;
            flex-direction: column;
            .text-fields_item{
                margin-bottom: 0.3em;
                .text-field-description {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-transform: uppercase;
                    .name {
                        font-family: 'Montserrat', serif;
                        font-size: 12px;
                        font-weight: bold;
                        color: $dark-shade-100;
                        margin-top: 1.45em;
                        margin-left: 0.2em;
                        margin-bottom: 0;
                    }
                    .modificator {
                        font-family: 'Montserrat', serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: normal;
                        font-weight: bold;
                        margin-top: 1.2em;
                        margin-right: 0.45em;
                        margin-bottom: 0.6em;
                        color: $dark-shade-50;
                    }
                }
            }
        }
    }
    
}
